<div class="container-fluid p-5">
    <p-toast></p-toast>
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
                <!-- <button pButton pRipple label='Delete' icon="pi pi-trash" class="p-button-danger"
                [disabled]="!selectedProducts || !selectedProducts.length" (click)="deleteuser(user)"></button> -->
            </ng-template>

            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                    class="p-mr-2 p-d-inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="userpost" [rows]="20" [paginator]="true"
            [globalFilterFields]="['id','user_id','title','body']" [(selection)]="selectedProducts" [rowHover]="true"
            dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="user_id">user_id <p-sortIcon field="user_id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="title">title <p-sortIcon field="title"></p-sortIcon>
                    </th>
                    <th pSortableColumn="body">body <p-sortIcon field="body"></p-sortIcon>
                    </th>
                    <th style="width:250px">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-userdata>
                <tr>
                    <td>{{userdata.id}}</td>
                    <td>{{userdata.user_id}}</td>
                    <td>{{userdata.title}}</td>
                    <td>{{userdata.body}}</td>
                    <td style="width:250px">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary p-mr-2"
                            (click)="editUserData(userdata)"></button> <i class="nav-icon far fa-image"></i>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-primary ms-3"
                            (click)="deleteuserDta(userdata.id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{userpost ? userpost.length : 0 }} products.
                </div>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="post Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <!-- <div class="p-field">
            <label for="user_id">user_id</label>
            <input type="number" pInputText id="user_id" [(ngModel)]="userdata.user_id" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !userdata.user_id">user_id is required.</small>
        </div> -->
            <div class="p-field">
                <label for="title">title</label>
                <input type="text" pInputText id="title" [(ngModel)]="userdata.title" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !userdata.title">title is required.</small>
            </div>
            <div class="p-field">
                <label for="body">body</label>
                <input type="text" pInputText id="body" [(ngModel)]="userdata.body" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !userdata.body">body is required.</small>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveuser()"></button>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>