.main{
    width: 50%;
    margin: 0 auto;
    padding-top: 74px;
}
.main1{
    width: 50%;
    margin: 0 auto;
    padding-top: 74px;
}
input.form-control.ng-untouched.ng-pristine.ng-invalid {
    width: 559px;
}
.bttn{
    // padding: 40px;
    border-radius: 0px;
}